body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.login, section.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30em;
    /*max-width: 30em;*/
    max-width: calc(100vw - 2em);
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 0.8em;
    box-shadow:  10px 10px 20px #e0e0e0,
    -10px -10px 20px #ffffff;
}

.hide {
    display: none !important;
}

section.login > form,
section.register > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.login > form > img {
    border-radius: 50%;
    margin: 1em;
}

section.login > form > input {
    margin: 1em 0;
    padding: 1em 1.5em;
    border-radius: 0.8em;
    box-shadow: inset 5px 5px 11px #d1d1d1,
    inset -5px -5px 11px #ffffff;
}

section.login > form > div.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;

    margin-top: 1em;
}

section.login > form > div.buttons > button:active {
    box-shadow: inset 5px 5px 11px #d1d1d1,
    inset -5px -5px 11px #ffffff;
    transition: 200ms;
}

section.login > form > div.buttons > button {
    background-color: #fff;
    border-radius: 0.8em;
    box-shadow:  10px 10px 20px #e0e0e0,
    -10px -10px 20px #ffffff;
    color: #333333;
    padding: 1em 1.5em;
    margin: 0 1em;
    cursor: pointer;
}

