body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eeeeee;
    color: #333333;
}

section.login,
section.error,
section.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30em;
    /*max-width: 30em;*/
    max-width: calc(100vw - 2em);
    margin: 0.5em auto;
    padding: 1.5em;
    border-radius: 0.8em;
    /*box-shadow:  10px 10px 20px #e0e0e0,*/
    /*-10px -10px 20px #ffffff;*/
    background-color: #fff;
}

section.error {
    color: #ff0000;
    animation: 0.5s errorShake 2;
}


section.hide {
    display: none !important;
}

section.login > form,
section.register > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.register > form > img,
section.login > form > img {
    border-radius: 50%;
    margin: 1em;
    --size: 12em;
    width: var(--size);
    height: var(--size);
}

section.register > form > input,
section.login > form > input {
    margin: 1em 0;
    padding: 1em 1.5em;
    border-radius: 0.8em;
    /*box-shadow: inset 5px 5px 11px #d1d1d1,*/
    /*inset -5px -5px 11px #ffffff;*/
}

section.register > form > div.buttons,
section.login > form > div.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;

    margin-top: 1em;
}

section.register > form > div.buttons > button:active,
section.login > form > div.buttons > button:active {
    /*box-shadow:  10px 10px 20px #ffffff, -10px -10px 20px #e0e0e0;*/
    transition: 200ms;
}

section.register > form > div.buttons > button,
section.login > form > div.buttons > button {
    border-radius: 0.8em;
    /*box-shadow:  10px 10px 20px #e0e0e0,*/
    /*-10px -10px 20px #ffffff;*/
    padding: 1em 1.5em;
    margin: 0 1em;
    cursor: pointer;
}

