* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #333;
    min-height: 100vh;
}

input:focus, button:focus, textarea:focus, select:focus {
    outline: none;
}

input, button, textarea, select {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #333;
    background: unset;
    border: unset;
    border-radius: unset;
    appearance: none;
}